body {
     background-image: url("innovation.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    color:teal:
}    
h2 {
    color:whitesmoke;
    text-align: left;
}
h3 {
    color:whitesmoke;
}