body {
     background-image: url("innovation.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    color:mediumseagreen;
    text-decoration: thistle;
    text-shadow: thistle;
    text-align: center;
}    
h2 {
    color:mediumspringgreen;
    text-align:left;
}
h3 {
    color:whitesmoke;
}
p  {
    color: whitesmoke;
    font-style: italic;
}
ul {
    color: white;
    padding: 20px 10px;
    border: 10px;
    background:turquoise;
}
ol {
    color:powderblue;
    font-style:bold;
}